<body>
    <nav class="navbar navbar-expand-lg custom-bg-color" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" routerLink = '/menu'>NUTRI AI</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink = '/menu'>Home</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink = '/rutina'>Rutina</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" routerLink = '/dieta'>Dieta
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Actualizar datos</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#" routerLink = '/passwd'>Cambiar contraseña</a>
                  <a class="dropdown-item" href="#" routerLink = '/musculosentreno'>Cambiar músculos de entreno</a>
                  <a class="dropdown-item" href="#" routerLink = '/updateDatosPersonales'>Modificar datos personales</a>
                  <a class="dropdown-item" href="#" routerLink = '/updateObjetivo'>Modificar objetivos</a>
                  <a class="dropdown-item" href="#" routerLink = '/descansoUpdate'>Cambiar días de descanso</a>
                  <a class="dropdown-item" href="#" routerLink = '/tipoEjer'>Cambiar tipo de ejercicios</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" routerLink ='/actualizar_datos'>Configuración</a>
                </div>
              </li>
              <li class="nav-item" class="position-top-right">
                <a class="nav-link active" href="#" routerLink = '/inicio_sesion'>Cerrar sesión</a>
              </li>
            </ul>
           

           
           
          </div>
        </div>
      </nav>
      


      <table class="table table-hover">
        <thead>
          <tr class="table">
            <th scope="col">Días</th>
            <th scope="col">Desayuno</th>
            <th scope="col">Almuerzo</th>
            <th scope="col">Merienda</th>
            <th scope="col">Cena</th>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let dieta of dietaList; let i = index">
                
                <tr style="height: 50px;" class="table-success"> <!-- Ajusta la altura aquí -->
                    <td class="table-light"><strong>{{ dias[i] }} </strong> </td>
                    <td>{{ dieta.comida1 }}</td>
                    <td>{{ dieta.comida2 }}</td>
                    <td>{{ dieta.comida3 }}</td>
                    <td>{{ dieta.comida4 }}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
      <div class="contenedor">
        <button class="boton-bonito" type="submit" (click)="actualizarDieta()" >Actualizar dieta</button>
        
     
      </div>

      <footer>
        <nav>
          <ul>
            <li><a href="#home" routerLink = '/menu'>Inicio</a></li>
            <li><a href="#about" routerLink = '/sobreNosotros'>Sobre nosotros</a></li>
            <li><a href="#services">Servicios</a></li>
            <li><a href="#contact" routerLink = '/contacto'>Contacto</a></li>
        </ul>
        </nav>
        <div class="social-icons"> 
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
      </div>
      </footer>
      
</body>