<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">NutriAI</a>
        <ul class="nav navbar-nav" routerLinkActive = "active">
            <li class="nav-item"><a class="nav-link" (click) = "dieta()" style="cursor: pointer;">Mi dieta</a></li>
            <li class="nav-item"><a class="nav-link" (click) = "rutina()" style="cursor: pointer;">Mi rutina</a></li>
            <li class="nav-item"><a class="nav-link" (click) = "actualizarDatos()" style="cursor: pointer;">Actualizar datos</a></li>
            <li class="nav-item"><a class="nav-link" (click) = "cerrarSesion()" style="cursor: pointer;">cerrar sesion</a></li>

        </ul>
    </nav>
</body>