<body>
    <form>
      <h3>Selecciona otras partes del cuerpo que deseas entrenar</h3>
      <br>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Abdominales" name="Abdominales" [(ngModel)]="Abdominales" >
        <label class="form-check-label" for="flexCheckDefault">
        Abdominales
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Aductores" name="Aductores" [(ngModel)]="Aductores">
        <label class="form-check-label" for="flexCheckDefault">
        Aductores
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Abductores" name="Abductores" [(ngModel)]="Abductores">
        <label class="form-check-label" for="flexCheckDefault">
        Abductores
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Biceps" name="Biceps" [(ngModel)]="Biceps">
        <label class="form-check-label" for="flexCheckDefault">
        Bíceps
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Gemelos" name="Gemelos" [(ngModel)]="Gemelos">
        <label class="form-check-label" for="flexCheckDefault">
        Gemelos
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Pecho" name="Pecho" [(ngModel)]="Pecho">
        <label class="form-check-label" for="flexCheckDefault">
        Pecho
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Antebrazos" name="Antebrazos" [(ngModel)]="Antebrazos">
        <label class="form-check-label" for="flexCheckDefault">
        Antebrazos
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Gluteos" name="Gluteos" [(ngModel)]="Gluteos">
        <label class="form-check-label" for="flexCheckDefault">
        Glúteos
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Isquiotibiales" name="Isquiotibiales" [(ngModel)]="Isquiotibiales">
        <label class="form-check-label" for="flexCheckDefault">
        Isquiotibiales
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Dorsales" name="Dorsales" [(ngModel)]="Dorsales">
        <label class="form-check-label" for="flexCheckDefault">
        Dorsales
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Espalda baja" name="Espalda_baja" [(ngModel)]="Espalda_baja">
        <label class="form-check-label" for="flexCheckDefault">
        Espalda baja
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Espalda media" name="Espalda_media" [(ngModel)]="Espalda_media">
        <label class="form-check-label" for="flexCheckDefault">
        Espalda media
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Trapecio" name="Trapecio" [(ngModel)]="Trapecio">
        <label class="form-check-label" for="flexCheckDefault">
        Trapecio
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Cuello" name="Cuello" [(ngModel)]="Cuello">
        <label class="form-check-label" for="flexCheckDefault">
        Cuello
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Cuadriceps" name="Cuadriceps" [(ngModel)]="Cuadriceps">
        <label class="form-check-label" for="flexCheckDefault">
        Cuádriceps
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Hombros" name="Hombros" [(ngModel)]="Hombros">
        <label class="form-check-label" for="flexCheckDefault">
        Hombros
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Triceps" name="Triceps" [(ngModel)]="Triceps">
        <label class="form-check-label" for="flexCheckDefault">
        Tríceps
        </label>
      </div>
      
      <br>
      <button class="boton-bonito" (click)="tipoEjercicio()">Continuar</button>
      <button class="boton-bonito" (click)="volver()">Volver</button>
      
    </form>
  </body>