<body>
    <form>
        <h1>¿Cuál es tu objetivo?</h1>
                <select class="form-control" id="exampleSelect">
                <option value="" disabled selected>selecciona objetivo</option>
                    <option value="option1">Volumen moscular</option>
                    <option value="option2">Definición muscular</option>
                    <option value="option2">Proporciones equilibradas</option>
                    <option value="option2">Reduccion de grasa</option>
                    <option value="option2">Tono muscular</option>
                    <option value="option2">Definición abdominal</option>
                </select>
                <br>
                <button class="boton-bonito" type="submit" (click)="descanso()">Continuar</button>
    </form>
</body>