<body>
    <div class="contact-container">
        <h1>Contacto</h1>
        <p>Si deseas ponerte en contacto con nosotros, por favor escríbenos al siguiente correo:</p>
        <p><a href="mailto:asistentenutricionalfitness&#64;gmail.com">asistentenutricionalfitness&#64;gmail.com</a></p>
    </div>


    <footer>
        <nav>
            <ul>
                <li><a href="#home" routerLink = '/menu'>Inicio</a></li>
                <li><a href="#about" routerLink = '/sobreNosotros'>Sobre nosotros</a></li>
                <li><a href="#services">Servicios</a></li>
                <li><a href="#contact" routerLink = '/contacto'>Contacto</a></li>
            </ul>
        </nav>
        <div class="social-icons"> 
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
      </div>
      </footer>
</body>