<body>
    <div class="about-container">
        <h1>Sobre Nosotros</h1>
        <p>Bienvenidos a nuestro asistente nutricional y de fitness. Nos dedicamos a ayudarte a alcanzar tus objetivos de salud y bienestar a través de una nutrición adecuada y planes de ejercicio personalizados.</p>
        <p>Nuestro objetivo es proporcionar herramientas y recursos para que puedas mejorar tu estilo de vida, lograr un equilibrio saludable y mantenerte motivado en tu viaje hacia una mejor salud.</p>
        <div class="warning">
            <p><strong>Advertencia:</strong> Las rutinas de ejercicio y los planes de nutrición generados por este asistente son automáticos y están basados en información general. Te recomendamos que realices estos ejercicios con precaución y siempre bajo la supervisión de un profesional de la salud o del fitness. Asegúrate de mantenerte bien hidratado durante tus entrenamientos y escucha a tu cuerpo para evitar lesiones.</p>
        </div>
        

    </div>
    <footer>
        <nav>
            <ul>
                <li><a href="#home" routerLink = '/menu' >Inicio</a></li>
                <li><a href="#about">Sobre nosotros</a></li>
                <li><a href="#services">Servicios</a></li>
                <li><a href="#contact" routerLink = '/contacto'>Contacto</a></li>
            </ul>
        </nav>
        <div class="social-icons"> 
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
      </div>
      </footer>
</body>