<body>
    <nav class="navbar navbar-expand-lg custom-bg-color" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" routerLink = '/menu'>NUTRI AI</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink ='/menu'>Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink ='/rutina'>Rutina</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink ='/dieta' >Dieta</a>
              </li>
              
              <li class="nav-item" class="position-top-right">
                <a class="nav-link active" href="#" routerLink = '/inicio_sesion'>Cerrar sesion</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Actualizar datos</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#" routerLink = '/updateDatosPersonales'>Modificar datos personales</a>
                  <a class="dropdown-item" href="#" routerLink = '/passwd'>Modificar contraseña</a>
                  <a class="dropdown-item" href="#" routerLink = '/musculosentreno'>Modificar músculos de entreno</a>
                  <a class="dropdown-item" href="#" routerLink = '/updateObjetivo'>Modificar objetivos</a>
                  <a class="dropdown-item" href="#" routerLink = '/descansoUpdate'>Modificar días de descanso</a>
                  <a class="dropdown-item" href="#" routerLink = '/tipoEjer'>Modificar tipo de ejercicios</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" routerLink ='/actualizar_datos'>Configuración</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container mt-5">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h3>Modificar Datos Personales</h3>
            <button type="button" class="boton-bonito" *ngIf="!editMode" (click)="toggleEditMode()">Editar</button>
            
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" class="form-control" [(ngModel)]="nombre" name="nombre" [readonly]="!editMode">
              </div>
              <div class="form-group">
                <label for="apellido">Apellidos</label>
                <input type="text" id="apellidos" class="form-control" [(ngModel)]="apellidos" name="apellidos" [readonly]="!editMode">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" [readonly]="!editMode">
              </div>
              <div class="form-group">
                <label for="altura">Altura</label>
                <div class="input-group">
                  <input type="number" id="altura" class="form-control" [(ngModel)]="altura" name="altura" [readonly]="!editMode">
                  <div class="input-group-append">
                    <span class="input-group-text">cm</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="Genero">Género</label>
                <select class="form-control" id="genero" [(ngModel)]="genero" name="genero" [disabled]="!editMode" style="margin-bottom: 10px;">
                  <option value="" disabled>Género</option>
                  <option value="Hombre">Hombre</option>
                  <option value="Mujer">Mujer</option>
                </select>
              </div>
              <div class="form-group">
                <label for="Genero">Nivel de experiencia</label>
                <select class="form-control" [(ngModel)]="nivel_experiencia" id="nivel_experiencia" name="nivel_experiencia" [disabled]="!editMode" style="margin-bottom: 10px;">
                  <option value="Principiante">Principiante</option>
                  <option value="Intermedio">Intermedio</option>
                  <option value="Avanzado">Avanzado</option>
                </select>
              </div>
              <button type="button" class="boton-bonito" *ngIf="editMode" (click)="saveChanges()">Guardar</button>
              <div class="container-icono">
                <div class="icon" *ngIf="editMode">
                    <img src="assets/volver-flecha.png" (click)="toggleEditMode()" alt="Icono" class="icono"> <!-- Icono como imagen -->
                    <button class="btn" (click)="descardChanges()" > Volver </button>
                </div>
            </div>
            </form>
          </div>
        </div>
      </div>
      
      
      

</body>
