<body>
  <div class="contenedor">
    <form>
      <div class="logo">
        <img src="assets/NUTRIAILOGO.png">
      </div>
        <input type="text" class="input-curvo" placeholder="Altura" name="altura">
        <input type="text" class="input-curvo" placeholder="Peso actual" name="peso_actual">
        <input type="text" class="input-curvo" placeholder="Peso obetivo" name="pero_objetivo">
        <select class="form-control" id="exampleSelect2">
          <option value="" disabled selected>Nivel de experiencia</option>
            <option value="option1">Principiante</option>
            <option value="option2">Intermedio</option>
            <option value="option3">Avanzado</option>
          </select>
          <br>
        <button class="boton-bonito" type="submit" (click)="objetivo()">Continuar</button>
    </form>
  </div>
    </body>