<body>
    <br>
    <ul class="article-list">
        <li>
            <h2>10 Hábitos para una Vida Saludable</h2>
            <p>Descubre los hábitos que puedes incorporar en tu día a día para mejorar tu salud y bienestar. <a href="https://hospitalyclinicasviera.hn/habitos-para-una-vida-saludable/">Leer más</a></p>
        </li>
        <li>
            <h2>Beneficios del Ejercicio Regular</h2>
            <p>Conoce los múltiples beneficios de mantener una rutina de ejercicio regular y cómo empezar. <a href="https://medlineplus.gov/spanish/benefitsofexercise.html">Leer más</a></p>
        </li>
        <li>
            <h2>Alimentación Equilibrada: Guía Básica</h2>
            <p>Aprende cómo mantener una dieta equilibrada que te aporte todos los nutrientes necesarios. <a href="https://www2.uned.es/pea-nutricion-y-dietetica-I/guia/guia_nutricion/la_dieta_equilibrada.htm">Leer más</a></p>
        </li>
        <li>
            <h2>Importancia de la Hidratación</h2>
            <p>Descubre por qué es crucial mantener una buena hidratación y cómo hacerlo correctamente. <a href="https://cieah.ulpgc.es/es/hidratacion-humana/hidratacion">Leer más</a></p>
        </li>
        <li>
            <h2>Cómo Dormir Mejor: Consejos Prácticos</h2>
            <p>Aprende estrategias para mejorar la calidad de tu sueño y descansar mejor cada noche. <a href="https://www.cun.es/chequeos-salud/vida-sana/consejos-salud/consejos-dormir-mejor">Leer más</a></p>
        </li>
    </ul>

    <footer>
        <nav>
            <ul>
                <li><a href="#home" routerLink = '/menu'>Inicio</a></li>
                <li><a href="#about" routerLink = '/sobreNosotros'>Sobre nosotros</a></li>
                <li><a href="#services">Servicios</a></li>
                <li><a href="#contact" routerLink = '/contacto'>Contacto</a></li>
            </ul>
        </nav>
        <div class="social-icons"> 
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
      </div>
      </footer>

</body>